
@{
    ViewBag.Title = "BlogGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="pagetop">
    <div class="container">
        <h1>Blog Grid View</h1>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>Blog</li>
        </ul>
    </div>
</div><!-- Page Top -->


<section>
    <div class="block gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="blog-posts masonary">
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid1.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="blog-detail.html" title="">Moto-Man Had Quite The Adventure, driving </a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid2.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="blog-detail.html" title="">America’s Best Restaurants Hosts Connecticut Organic</a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid3.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="blog-detail.html" title="">Winvian Sparkles Again with 2 Five Diamond Awards</a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid4.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="blog-detail.html" title="">Castello Di Brolio Wine Dinner At Winvian</a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid5.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="#" title="">Winvian is Named a Top US Resort by Conde Nast! </a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                            <div class="col-md-4">
                                <div class="blog-post">
                                    <div class="post-img">
                                        <img src="~/Assets/images/resource/blog-grid6.jpg" alt="" />
                                        <a href="blog-detail.html" title=""><img src="~/Assets/images/link.png" alt="" /></a>
                                    </div>
                                    <h3><a href="blog-detail.html" title="">Winvian Named a Best Overall Restaurant, Expert’s Pick</a></h3>
                                    <p>Curabitur blandit tempus porttitor. Maecenas et non magna. Fusce dapibus, tellus ac cursi nibh, ut fermentum massa justo.</p>
                                    <div class="bottom-bar">
                                        <ul class="meta">
                                            <li>By <a href="#" title="">Admin</a></li>
                                            <li><a href="#" title="">July 01 2015</a></li>
                                            <li><a href="#" title="">No Comments</a></li>
                                        </ul>
                                    </div>
                                </div><!-- Blog Post -->
                            </div>
                        </div>
                    </div><!-- Blog Posts -->
                </div>
            </div>
        </div>
    </div>
</section>


