
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pagetop">
    <div class="container">
        <h1>FAQ'S</h1>
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>Frequently Asked Questions</li>
        </ul>
    </div>
</div><!-- Page Top -->



<section>
    <div class="block gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 column">
                    <div class="faqs-page">
                        <div id="toggle" class="toggle">
                            <div class="toggle-item">
                                <h3><i class="fa fa-arrow-circle-right"></i>Vellentesque temhicla lectus eget tempor.</h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3><i class="fa fa-arrow-circle-right"></i>Oellent esque pellentesquei quam, nec tempus nibh congue ut.</h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3><i class="fa fa-arrow-circle-right"></i>Esque pellentesquei quam, nec tempu congue.</h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3><i class="fa fa-arrow-circle-right"></i>Oellent esque pellentesquei quam, nec tempus nibh congue ut.</h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3><i class="fa fa-arrow-circle-right"></i>Vellentesque temhicla lectus eget tempor.</h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3>
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Vellentesque temhicla lectus eget tempor.
                                </h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="toggle-item">
                                <h3>
                                    <i class="fa fa-arrow-circle-right"></i>
                                    Vellentesque temhicla lectus eget tempor.
                                </h3>
                                <div class="content">
                                    <div class="simple-text">
                                        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ttis consectetur purus sit amet feum. None comm luctus, nisi erat porttitor. Lorem ipsum dolor sit amet ne onsec tetuer adn tashin ipis.</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- Accordions  -->

                        <div class="block-gap"></div>
                        <div class="comment-form">
                            <div class="simple-title">
                                <h5><span><i class="fa fa-pencil-square-o"></i></span> Leave a Comment</h5>
                                <span>Your email address will not be published.</span>
                            </div>
                            <div class="input-fields">
                                <div class="row">
                                    <div class="col-md-4"><input type="text" placeholder="Complete Name *" /></div>
                                    <div class="col-md-4"><input type="email" placeholder="Email Address *" /></div>
                                    <div class="col-md-4"><input type="text" placeholder="Website" /></div>
                                    <div class="col-md-12"><textarea placeholder="Enter Your Message"></textarea></div>
                                    <div class="col-md-12"><button class="book-now" type="submit">Submit Now</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <aside class="col-md-4 column">
                    <div class="sidebar">
                        <div class="widget">
                            <form class="searchform">
                                <input type="text" placeholder="Search">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div><!-- Widget -->
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Gallery Widget</h4>
                                <span>Local Guide</span>
                            </div>
                            <div class="gallery-widget lightbox">
                                <div class="row">
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget1.jpg" alt="" /></a></div>
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget2.jpg" alt="" /></a></div>
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget3.jpg" alt="" /></a></div>
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget4.jpg" alt="" /></a></div>
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget5.jpg" alt="" /></a></div>
                                    <div class="col-md-4"><a href="http://placehold.it/1000x800" title=""><img src="~/Assets/images/resource/gallery-widget6.jpg" alt="" /></a></div>
                                </div>
                            </div>
                        </div><!-- Widget -->
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Rooms Video</h4>
                                <span>Local Guide</span>
                            </div>
                            <div class="room-video">
                                <img src="~/Assets/images/resource/room-video.jpg" alt="" />
                                <div class="video-name">
                                    <a href="#" title=""><i class="fa fa-play"></i></a>
                                    <h5><a href="#" title="">Water Rafting</a></h5>
                                </div>
                            </div>
                        </div><!-- Widget -->
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Tag Clouds</h4>
                                <span>Facilities</span>
                            </div>
                            <div class="tagcloud">
                                <a href="#" title="">Tennis Courts</a>
                                <a href="#" title="">Resort</a>
                                <a href="#" title="">Private</a>
                                <a href="#" title="">Hotel</a>
                                <a href="#" title="">Blog</a>
                            </div>
                        </div>

                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>


